body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

/*HEADER*/
#nav-head {
	border-radius: 0;
	background-color: #99F;
	border: hidden;
}
.navbar-default .navbar-brand {
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
	font-size: 2em;
	padding-top: 20px;
	padding-left: 25px;    
}
#bs-example-navbar-collapse-1 ul {
  margin-top: 10px;  
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  text-align: center; 
  font-size: 1.5em; 
}
.navbar-default .navbar-nav > li > a:hover {
  background: #804000;
}
.navbar-default .navbar-nav > li > a span {
  font-size: 1.5em;  
}
#content{
  background-color: #CCC;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #663300;  
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;  
}
